
# BEGIN SMUSH-WEBP
# The directives (lines) between "BEGIN SMUSH-WEBP" and "END SMUSH-WEBP" are
# dynamically generated, and should only be modified via WordPress filters.
# Any changes to the directives between these markers will be overwritten.

# END SMUSH-WEBP